.data{
    padding-top: 3vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    height: 88vh;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}
.tablecontainer{
    border-radius: 4px;
    overflow-y: auto;
    background-color: #2C5274;
    height: 71vh;
}
.table{
    padding: 2vh;
    box-sizing: border-box;
    max-height: 71vh;
    width: 90vw;
    background-color: #2C5274;
    
    color: white;
    border-collapse: collapse;
    
}
.head{
    position: sticky;
    top: 0;
    z-index: 1;
    height: 10vh;
    background-color: #2C5274;
}
.row{
    height: 10vh;
}

.id{
    text-align: center;
}
.timestamp{
    text-align: center;
}
.temperature{
    text-align: center;
}
.humidity{
    text-align: center;
}
.lightIntensity{
    text-align: center;
}

.export{
    padding: 1vh;
    height: 10vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button{
    height: 9vh;
    width: 12vw;
    background-color: #B3D3F0;
    border-radius: 4px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}