/* Layout.module.css */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure layout fills the entire viewport height */
    background-color: #03334E;
}

.children {
    flex-grow: 1; /* Take up remaining space */
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
